<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div style="text-align: center;"></div>
    <img src="https://media.istockphoto.com/photos/human-crowd-forming-a-human-kidney-symbol-health-concept-picture-id1142828150?k=20&m=1142828150&s=612x612&w=0&h=tQe3bOOM0P30_ZiV1c6CmmrwDeBNJgQTZBTLiSt-ctA=" align="center">
    <title><b>EARLY CHRONIC KIDNEY DISEASE PREDICTION</b></title>
</head>
<body style="background-color:brown;">
    <div align="center">
        <form method="POST" action="/predict">
        <table width="500" height="100">
            <tr>
                <th>Red Blood cells</th>
                <td><input name="rbc" required></td>
            </tr>
            <tr>
                <th>Pus Cell</th>
                <td><input name="pc" required></td>
            </tr>
            <tr>
                <th>Blood Glucose Random</th>
                <td><input name="bgr" required></td>
            </tr>
            <tr>
                <th>Blood Urea</th>
                <td><input name="bu" required></td>
            </tr>
            <tr>
                <th>Pedal Edema</th>
                <td><input name="pe" required></td>
            </tr>
            <tr>
                <th>Anemia</th>
                <td><input name="ane" required></td>
            </tr>
            <tr>
                <th>Diabetes Mellitus</th>
                <td><input name="dm" required></td>
            </tr>
            <tr>
                <th>Coronary Artery Disease</th>
                <td><input name="cad" required></td>
            </tr>
            
        </table>
        
            <button type="submit">submit</button>
        
    </form>
    </div>
    <hr>
    <hr>
    
    <hr>
</body>
</html>